@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInFromLeft 0.8s ease-out forwards;
}

.slide-in-left-on-scroll {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slide-in-left-on-scroll.animate {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 768px) {
  .slide-in-left-on-scroll {
    transform: translateX(-100px);
  }
  
  .slide-in-left-on-scroll.animate {
    transform: translateX(0);
  }
}

.slide-in-right-on-scroll {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slide-in-right-on-scroll.animate {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 768px) {
  .slide-in-right-on-scroll {
    transform: translateX(100px);
  }
  
  .slide-in-right-on-scroll.animate {
    transform: translateX(0);
  }
}


@keyframes text-appear {
	from { opacity: 0; transform: translateY(100px); }
	to   { opacity: 1; transform: translateY(0); }
}
.autoshow {
	animation-name: text-appear;
	animation-timeline: view();
	animation-fill-mode: both;
	/* Start after 20% enters, finish when it covers the viewport */
	animation-range: entry 20% cover 100%;
}